@*@model List<IdentityUser>

<h1>User Management</h1>

<p>
    <a asp-controller="UserManager" asp-action="AssignRole">Assign Role to User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
*@